@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* share style */
.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px 35px;
  border-radius: 5px;
  border: none;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}
.section-discription {
  font-size: 35px;
  font-weight: bold;
  color: #757575;
}
/* header */
.header {
  width: 1600px;
  height: 837px;
  margin: 0 auto;
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-size: contain, auto;
  background-position: top left, bottom right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
nav .nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  font: 200px;
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
}
.banner-discription {
  font-size: 18px;
}
.banner-profile-pic {
  width: 600px;
}
